{% extends "base.html" %}
{% block title %}Schola{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="jumbotron">
			<h1 class="blue">Schola</i></h1>
			<p>This website serves as an example minimalist course directory. It enables students to lookup tutors and office hours for courses in the directory. It enables tutors to post office hours for students. It enables teachers to add and remove tutors for their courses. Database administrators can add courses and teachers. It was developed for a final project in the <a href="http://www.ccs.neu.edu/home/kathleen/index.htm">CS3200: Database Design</a> class at Northeastern University during the Fall 2016 semester. Feel free to view and contribute to the source code for this project at the GitHub repository below.</p>
			<hr>
			<a href="/courses" class="btn btn-primary btn-lg">View Courses</a>
			<a href="https://github.com/benclauss/Schola" class="btn btn-primary btn-lg"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
		</div>
		</div>
</div>
{% endblock %}